@use './roots' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontMain;
  text-decoration: none;
  list-style: none;
}

.App {
  // border: 2px dotted palevioletred;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

.toast-default {
  background: $supplementOne;
  color: $primaryColor;
  font-size: $span;
  font-weight: 600;
  width: 20vw;
  padding: 1rem;
}

.toast-error {
  background: $bloodred;
  color: $white;
  font-size: $span;
  font-weight: 600;
  text-shadow: $textShadow;
  width: 20vw;
  padding: 1rem;
} 