@use './roots' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontMain;
  text-decoration: none;
  list-style: none;
}

.App {
  border: 2px dotted palevioletred;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}