@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

// Fonts
$fontMain: 'Nunito', sans-serif;

// Colors
$primaryColor: #58094F;
$secondaryColor: #841E62;
$accent: #F3AA20;
$supplementOne: #346B6D;
$supplementTwo: #2A445E;
$white: #fffff0;
$warning: red;