@use "../roots" as *;

.form-wrapper {
  width: 100%;

  .form-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    width: 65%;
    padding: 0.2rem 0.5rem;

    input {
      height: 2rem;
      border-radius: 0.8rem;
      padding: 1rem;
      outline: none;
      border: 1.5px dotted $secondaryColor;
    }

    .btn-main {
      cursor: pointer;
      color: $primaryColor;
      font-weight: 800;
      letter-spacing: 0.12rem;
      text-transform: uppercase;
      background: $accent;
      border-radius: 1rem;
      border: none;
      outline: none;
      margin-top: 0.5rem;
      height: 2.2rem;
      transition: 0.3s all ease-in-out;

      &:hover {
        background: $secondaryColor;
        color: $white;
        opacity: 0.8;
      }
    }
  }  
}