@use '../roots' as *;

.welcomenav {
  border-bottom: 1px solid $gray;
  background: rgba(255, 255, 240, 0.9);
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 9;

  .welcomenav-btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 25%;

    .welcome-btn {
      cursor: pointer;
      color: $primaryColor;
      font-weight: 800;
      letter-spacing: 0.12rem;
      text-transform: uppercase;
      font-size: $span;
      background: $accent;
      border-radius: 1rem;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      height: 2.2rem;
      width: 40%;
      transition: 0.3s all ease-in-out;

      &:hover {
        background: $secondaryColor;
        color: $white;
        opacity: 0.8;
      }

      &.outline {
        background: transparent;
        border: 2px solid $accent;
        width: 60%;

        &:hover {
          border: none;
          background: $secondaryColor;
          color: $white;
          opacity: 0.8;
        }
      }

    }
  }
}

.logonav {
  // border: 1px solid red;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;

  .logo-img {
    height: max(50px, 5vh);
    filter: $dropShadow;
  }

  .brand-title {
    color: $secondaryColor;
    font-size: $h4;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-shadow: 1.2px 1.2px 2px $gray;
  }
}
